.container-fluid {
  padding-left: 1px;
  padding-right: 1px;
}

.navbar-brand {
  height: 85px;
}

#navbar-link {
  font-size: 90%;
}
.navbar-header{
   margin-top: 1.5em;
}

.navbar-text-small {
   margin-top: -0.5em;
 }
 .top-nav{
   height: 1em;
 }
 .top-nav-container{
   width: 100%;
 }
 .top-nav-link{
   color: #ffffff;
 }
 #search-btn-nav{
   height: 0.95em;
   padding-left: 5px;
   border: 1px solid;
   border-radius: 4px;
   background-color: #ffffff;
   width: 15%;
 }
 #navbarSupportedContent-4{
 	padding-top: 4em;
 }
 .navbar-img{
 	padding-left: 15px;
 	height: 70px;
 }