.container-fluid {
  padding-left: 1px;
  padding-right: 1px;
}
body {
  font-family: 'Comfortaa',cursive;
  font-weight: 400;
  background-color: #F5F5F5;
}
.navbar-brand {
  height: 85px;
}
#navbar-link {
  font-size: 90%;
}
.navbar-header{
  margin-top: 1.5em;
}
.navbar-text{
  text-align: center;
  vertical-align: middle;
  line-height: 17px;
}
#top-nav-wrap{
  height: 2em;
  background-color: #E0F7FA;
}
.top-nav{
  height: 1.5em;
}
.top-nav-container-left{
  width: 10%;
}
.top-nav-container-right{
  width: 90%;
}
.top-nav-link{
  color: #000000;
  font-size: 80%;
}
.top-nav-link:not(:nth-child(4))::after {
  padding: 0 0.2em;
  content: '|';
}

.top-nav-link:nth-child(4) {
  padding-right: 0.5em;
}
#nav-below{
  /*background: linear-gradient(40deg,#45cafc,#303f9f);
  */background-color: #3b5998;
}
#search-btn-nav{
  height: 0.95em;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #ffffff;
  width: 5%;
  max-width: 100px;
  min-width: 15px;
}
#navbarSupportedContent-4{
  padding-top: 4em;
}
.navbar-img{
  padding-left: 15px;
  height: 70px;
}
#footer-copyright{
  height: 2.5em;
  background-color: #3b5998;
}
#copyright-content{
  margin-top: -0.5em;
}
#footer-logos{
  max-height: 100%;
  max-width: 100%;
}
.logo-container{
  padding: 2px;
}
.quick-links-container{
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}
.quick-links-row{
  background-color: #3b5998;
  border-radius: 5px;
}
.quick-links-container span{
  letter-spacing: 2px;
}
/* unvisited link */
.quick-links-container a:link {
    color: #F5F5F5;
}

/* visited link */
.quick-links-container a:visited {
    color: #F5F5F5;
}

/* mouse over link */
.quick-links-container a:hover {
    color: #E0F7FA;
    text-decoration: underline;
}

/* selected link */
.quick-links-container a:active {
    color: green;
}
.page-footer{
  background-color: #E0F7FA;
  border-top:2px solid #CFD8DC;
}
#footer-container{
  padding-bottom:10px;
}
.l0{ /*container*/
  min-height: 50px;
  padding-top: 4em;
  padding-bottom: 0.1em;
  padding-right: 15%;
  padding-left: 15%;
}
.l1-dep{ /*container*/
  min-height: 650px;
  padding-top: 4em;
  padding-bottom: 2em;
  padding-right: 20%;
  padding-left: 20%;
}
.l2-idep{
  min-height: 650px;
  padding-top: 4em;
  padding-bottom: 2em;
  padding-right: 10%;
  padding-left: 10%; 
}
hr.style4 {
  border-top: medium double #3b5998;
  color: #3b5998;
  text-align: center;
}
hr.style4:after {
  content: "Quick Links";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.5em;
  background: #E0F7FA;
}
@media screen and (max-width: 1000px) {
  .l0 .big-col{
    min-width: 100%;
  }
  .l0 .fa-2x{
    font-size: 120%;
  }
  .l1-dep .big-col{
    min-width: 100%;
  }
  .l1-dep .fa-2x{
    font-size: 150%;
  }
  .page-content-container{
    padding-right: 5%;
    padding-left: 5%;
  }
}
/*all-cards*/
.l2-idep .card-body .right-content #li3 .avatar{
  height: 150px;
  width: 150px;
}
.l2-idep .card-body .right-content #li3 h6{
  margin-top: -1em;
}
.l2-idep .card-body .right-content #li3 hr{
  margin-left: 2em;margin-right: 2em;
}
.l2-idep .card-body .right-content #li3 .card-up{
  background: linear-gradient(to right,#9C27B0,#B71C1C);
}
.l2-idep .card-body .right-content #li3 .min-profile{
  font-size: 85%;
}
.l2-idep .card-body .right-content #li4 #p4l1 .avatar{
  height: 150px;
  width: 150px;
}
.l2-idep .controls-top .btn-floating{
  background-color: #B71C1C;
}
.l2-idep .carousel-indicators li{
  background-color: #B71C1C;
}
.l2-idep .carousel-indicators li.active{
  background-color: #B71C1C;
}
.l2-idep .card-body .right-content #li4 #p4l1 h6{
  margin-top: -1em;
}
.l2-idep .card-body .right-content .carousel-title{
  font-family: 'Oswald';font-weight: bold;letter-spacing: 2px;font-size: 250%
}
.l2-idep .card-body .right-content #li4 #p4l1 hr{
  margin-left: 2em;margin-right: 2em;
}
.l2-idep .card-body .right-content #li4 #p4l1 .card-up{
  background: linear-gradient(to right,#9C27B0,#B71C1C);
}
.l2-idep .card-body .right-content #p4l1 .min-profile{
  font-size: 80%;
}
.l2-idep .card-body .right-content #li4 #p4l2 .avatar{
  height: 150px;
  width: 150px;
}
.l2-idep .card-body .right-content #li4 #p4l2 h6{
  margin-top: -1em;
}
.l2-idep .card-body .right-content .carousel-title{
  font-family: 'Oswald';font-weight: bold;letter-spacing: 2px;font-size: 250%
}
.l2-idep .card-body .right-content #li4 #p4l2 hr{
  margin-left: 2em;margin-right: 2em;
}
.l2-idep .card-body .right-content #li4 #p4l2 .card-up{
  background: linear-gradient(to right,#9C27B0,#B71C1C);
}
.l2-idep .card-body .right-content #p4l2 .min-profile{
  font-size: 80%;
}

.l2-card .tab-content{
  border:dotted 1px #90A4AE;
  background-color: #F5F5F5;
}
.l2-card .list-group-item:hover{
  background-color:#ECEFF1;
  border: solid 1px #B71C1C;
}
.l2-card .list-group-item.active{
  background-color: #B71C1C;
}
.pane-title{
  margin-left: -10px;
}
.pane-text{
  text-align: justify;
}
.l2-card .tab-pane{
  margin-top: -1em;
}
.l2-card .tab-pane .nav-link:hover{
  
}
.l2-card .tab-pane .nav-link.active{
  background-color: #B71C1C;
}
.l2-idep .card-body{
  margin-top: -0.5em;margin-bottom: -0.5em;margin-left:0.2em ;margin-right:0.2em;
}
.l2-idep .tile-title-text{
  letter-spacing: 2px;font-weight: bold;text-align: center;vertical-align: middle;line-height: 1px;color: #ffffff;
}
.l2-idep .tile-title{
  background-color: #3b5998;height: 1px;
}
.l2-idep .tile-small-text{
  font-size: 90%;font-weight: bold;
}

.l1-dep .card-body{
  margin-top: -1em;margin-bottom: -0.5em;margin-left:0.2em ;margin-right:0.2em;
}
.l1-dep .tile-content{
  text-align: center;vertical-align: middle;line-height: 110%;padding-top: 12px;margin-bottom: -4px;min-height: 80%;color: #ffffff;
}
.l1-dep .tile-title-text{
  letter-spacing: 2px;font-weight: bold;text-align: center;vertical-align: middle;line-height: 1px;color: #ffffff;
}
.l1-dep .tile-small{
  background-color: #004545;margin: 1px;
}
.l1-dep .tile-title{
  background-color: #3b5998;height: 1px;
}
.l1-dep .tile-small:hover {
  opacity: 0.5;
}
.l1-dep .tile-small-text{
  font-size: 90%;font-weight: bold;
}
.l1-dep .fa-2x{
  font-size: 250%;padding-bottom: 8px;
  font-family: 'Oswald';font-weight: bold;
}
.l0 .card-body{
  margin-top: -1em;margin-bottom: -0.5em;margin-left:0.2em ;margin-right:0.2em;
}
.l0 .tile-content{
  text-align: center;vertical-align: middle;line-height: 100%;padding-top: 8px;margin-bottom: -12px;min-height: 80%;color: #ffffff;
}
.l0 .tile-title-text{
  letter-spacing: 2px;font-weight: bold;text-align: center;vertical-align: middle;line-height: 1px;color: #ffffff;
}
.l0 .tile-small{
  background-color: #004545;margin: 1px;
}
.l0 .tile-title{
  background-color: #3b5998;height: 1px;
}
.l0 .tile-small:hover {
  opacity: 0.5;
}
.l0 .tile-small-text{
  font-size: 80%;font-weight: bold;
}
.l0 .fa-2x{
  font-size: 180%;padding-bottom: 2px;
}
/*/.all-cards*/
.big-row{
  padding: 0.2em;
}
.big-col{
  padding: 0.2em;
}
/*card-1*/
/* card bg-color*/
.card-1 {
  background-color: #B2DFDB;
}
/* card-title color*/
.card-1 div.tile-title{
  background-color: #004D40;
} 
/* title-text color*/
.card-1 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-1 div.tile-small{
  background-color: #26A69A;
}
/* small-tile-text color*/
.card-1 div.tile-content{
  color: #ffffff; 
}
/*/.card-1*/
/*card-2*/
/* card bg-color*/
.card-2 {
  background-color: #D1C4E9;
}
/* card-title color*/
.card-2 div.tile-title{
  background-color: #311B92;
} 
/* title-text color*/
.card-2 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-2 div.tile-small{
  background-color: #7E57C2;
}
/* small-tile-text color*/
.card-2 div.tile-content{
  color: #ffffff; 
}
/*/.card-2*/
/*card-3*/
/* card bg-color*/
.card-3 {
  background-color: #FFCDD2;
}
/* card-title color*/
.card-3 div.tile-title{
  background-color: #B71C1C;
} 
/* title-text color*/
.card-3 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-3 div.tile-small{
  background-color: #EF5350;
}
/* small-tile-text color*/
.card-3 div.tile-content{
  color: #ffffff; 
}
/*/.card-3*/
/*card-4*/
/* card bg-color*/
.card-4 {
  background-color: #B3E5FC;
}
/* card-title color*/
.card-4 div.tile-title{
  background-color: #01579B;
} 
/* title-text color*/
.card-4 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-4 div.tile-small{
  background-color: #03A9F4;
}
/* small-tile-text color*/
.card-4 div.tile-content{
  color: #ffffff; 
}
/*/.card-4*/
/*card-5*/
/* card bg-color*/
.card-5 {
  background-color: #FFCC80;
}
/* card-title color*/
.card-5 div.tile-title{
  background-color: #E65100;
} 
/* title-text color*/
.card-5 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-5 div.tile-small{
  background-color: #FF9800;
}
/* small-tile-text color*/
.card-5 div.tile-content{
  color: #ffffff; 
}
/*/.card-5*/

/*Level 1 dep*/
/* card bg-color*/
.l1-dep .l1-card {
  background-color: #FFCDD2;
}
/* card-title color*/
.l1-dep .l1-card div.tile-title{
  background-color: #B71C1C;
} 
/* title-text color*/
.l1-dep .l1-card p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.l1-dep .l1-card div.tile-small{
  background-color: #EF5350;
}
/* small-tile-text color*/
.l1-dep .l1-card div.tile-content{
  color: #ffffff; 
}
/*/level 1 dep*/
/*Level 2 dep*/
/* card bg-color*/
.l2-idep .l2-card {
  background-color: #FFCDD2;
}
/* card-title color*/
.l2-idep .l2-card div.tile-title{
  background-color: #B71C1C;
} 
/* title-text color*/
.l2-idep .l2-card p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.l2-idep .l2-card div.tile-small{
  background-color: #EF5350;
}
/* small-tile-text color*/
.l2-idep .l2-card div.tile-content{
  color: #ffffff; 
}
/*/level 2 dep*/