[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11"
djangorestframework = "==3.7.7"
mysqlclient = "==1.3.12"
python-decouple = "==3.1"
django-cors-headers = "*"
pillow = "*"
django-ckeditor = "*"
django-logentry-admin = "*"
django-cleanup = "*"
django-dbbackup = "*"
gunicorn = "*"
pathlib = "*"

[dev-packages]
