.goog-te-banner-frame.skiptranslate {
  margin-left: 98%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (max-width: 1200px){
  .goog-te-banner-frame.skiptranslate {
    margin-left: 96%;
  }
}
@media screen and (max-width: 800px)  {
  .goog-te-banner-frame.skiptranslate {
    margin-left: 95%;
  }
}
@media screen and (max-width: 540px){
  .goog-te-banner-frame.skiptranslate {
    margin-left: 93%;
  }
}
.hidemee{
  display: none!important
}
.goog-te-gadget-icon{
  display: none;
}
.goog-te-gadget-simple span{
  display: none
}
.goog-te-menu-value span{
  display: none
}
header {
  padding-bottom: 3px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  min-height:100%;
  font-weight: 400;
  background: #ECEFF1;
}
font {
  color: inherit!important;
}
.div-none {
  display: none;
}
.div-block {
  display: block;
}
.div-inline-block {
  display: inline-block;
}
.list-gr a:hover span{
  color:#001333!important;
  background-color: #E0F7FA!important;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.l0 .big-col .row{
  margin-left: -15px;
  margin-right: -15px;
}
.line-img{
  height:0px;
}
#footer-copyright{
  height: 2.5em;
}
#copyright-content{
  margin-top: -0.5em;
}
#footer-logos{
  max-height: 100%;max-width: 100%;
}
.logo-container{
  padding: 2px;
}
.quick-links-container{
  padding-top: 7px;padding-left: 5px;padding-right: 5px;padding-bottom: 5px;text-align: center;vertical-align: middle;line-height: 20px;
}
.quick-links-row{
  background-color: #001333;border-radius: 5px;
}
.quick-links-container span{
  letter-spacing: 2px;
}
.quick-links-container a{
  padding-left: 10px;
  padding-right: 10px;
}
/* unvisited link */
.quick-links-container a:link {
    color: #ECEFF1;
}
/* visited link */
.quick-links-container a:visited {
    color: #ECEFF1;
}
/* mouse over link */
.quick-links-container a:hover {
    color: #E0F7FA;text-decoration: underline;
}
/* selected link */
.quick-links-container a:active {
    color: green;
}
.pagination .active a{
  background-color: #001333!important;
}
.page-footer{
  background-color: #001333;
}
#footer-container{
  padding-bottom:10px;
}
.l0{ /*container*/
  min-height: 300px;
  padding-top: 1em;
  padding-bottom: 0.1em;
  padding-right: 3%;
  padding-left: 3%;
}
.mob{
  min-height: 350px!important;
}
.l1{
  min-height: 750px;
  margin-top: 80px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.5%;
  padding-left: 1.5%;
}
.page-type-person {
  margin-top: 80px;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-right: 20%;
  padding-left: 20%;
}
.l2-idep{
  min-height: 750px;
}
.l1-dep{ /*container*/
  min-height: 750px;
  margin-top: 80px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 5%;
  padding-left: 5%;
}
.l3-fac{
  min-height: 750px;margin-top: 30px;padding-top: 4em;padding-bottom: 2em;padding-right: 1.5%;padding-left: 1.5%;
}
hr.style4 {
  border-top: medium double #ECEFF1;color: #ECEFF1;text-align: center;
}
hr.style4:after {
  content: "Quick Links";display: inline-block;position: relative;top: -0.7em;font-size: 1em;padding: 0 0.5em;background: #001333;
}
.mob{
  display: none;
}
@media screen and (max-width: 540px) {
}
@media screen and (max-width: 800px)  {
  .page-type-person .card-up{
    height: 200px !important;
  }
}
@media screen and (max-width: 1010px) {
  .mob{
    display: block!important;
  }
  .l1{
    padding-right: 1.5%!important;
    padding-left: 1.5%!important;
  }
  .page-type-person{
    padding-left: 1.5%;padding-right: 1.5%;
  }
  .page-type-person .avatar{
    max-height: 120px;max-width: 120px;
  }
  .page-type-person .min-profile{
    font-size:55%;
  }
  .page-type-person .name-title{
    font-size: 200%;
  }
  .page-type-person .mt-1{
    font-size: 150%;
  }
  .page-type-person .card-up{
    height: 200px;
  }
  .line-img{
    margin-left: -20px;width: 2px;height: 45px;padding-top: 10px;
  }
  .l0 .big-col{
    min-width: 100%;
  }
  .l0 .fa-2x{
    font-size: 120%;
  }
  .col{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .newscaro .caro{
    min-width: 100%;
  }
  .newscaro .news{
    min-width: 100%;
    height: 420px;
  }
  .newscaro .carousel-inner .view img{
    width: 100%;
  }
  .l1-dep .big-col{
    min-width: 100%;
  }
  .l1-dep .fa-2x{
    font-size: 150%;
  }
  .page-type-links .card-text a{
    font-size: 85%;
  }
  #footer-copyright .row{
    margin-left: 5px;margin-right: 5px;
  }
}
.l1 .accordion .card-header{
  background-color: #001333;
}
.l1 .accordion .card-header h5{
  color: #ECEFF1;
}
.pane-title{
  margin-left: -10px;
}

/*00ss*/
.l3-fac .fac-sm{
  padding: 20px;
  margin-bottom: 20px;
  max-height: 100%;
  max-width: 100%;
}
/*00ss*/

.l3-fac .card-body .downc .accordion .card-header{
  border:solid 1px black;
}

.table {
  margin-bottom: 0px;
}

.l3-fac .card-body .downc .table .th-lg{
  min-width: 5px;
}
.l3-fac .card-body .downc .table td{
  font-weight: bold;
}
.l3-fac .card-body .downc .table th{
  font-weight: bold;
}
.l3-fac .card-body .downc .table-wrapper-2{
  display: block;max-height: 2500px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;
}
.l3-fac .card-body .downc #li2 th{
  background-color: #E0E0E0;
  padding: 2px;
}
.l3-fac .card-body .downc #li2 td{
  background-color: #F5F5F5;
  padding: 2px;
}
.l3-fac .card-body .downc th{
  background-color: #E0E0E0;
  padding: 5px;
}
.l3-fac .card-body .downc td{
  background-color: #F5F5F5;
  padding: 5px;
}
.l3-fac .l3-card .downc .big-list .accordion .card-header{
  padding: 5px 5px! important;
}
.l3-fac .l3-card{
  margin-top: -1em;
}
.l3-fac .card-body{
  margin-top: -0.5em;margin-bottom: -0.5em;margin-left: -0.5em;margin-right:-0.5em;
}
.l3-fac .tile-title-text{
  letter-spacing: 2px;font-weight: bold;text-align: center;vertical-align: middle;line-height: 1px;color: #ffffff;
}
.l3-fac .tile-title{
  height: 1px;
}
.nav-tabs {
  background-color: #001333;
}
.nav-item .active{
  background-color: #ECEFF1;
  color: #001333;
}
.accordion .card-header{
  padding: 0px!important;
}
.accordion .card-header h5{
  padding: 15px;
}
.page-type-links .list-gr li{
  list-style-type: none;
}
.page-type-links .list-group-item {
  color: #001333;
  background-color: #E0F7FA;
  margin: 2px 0px;
  padding: 7px;
}
.page-type-links .list-group-item:hover {
  background-color: #001333;
  color: #E0F7FA;
}
.page-type-links .card-header{
  font-weight: bold;
  font-size: 110%;
  letter-spacing: 2px;
  background-color: #001333;
  padding: 6px 15px;
}
.page-type-links .card-text{
  color:#000000;
}
.page-type-links .card-text a{
  font-weight: bold;
  font-size: 100% !important;
}
.page-type-links .date-col{
  margin-left:0px;padding:5px;
}
.page-type-links .date-col .black-text{
  margin-left: 5.5em;margin-top:-1.5em;
}
.page-type-links .date-div{
  height: 60px!important;width: 70px!important;border-radius:5px!important;border:solid 2px #001333!important;background-color:#001333!important;
}
.page-type-links .date-div h3{
  margin-top: -7px !important;
}
.page-type-links .date-div h6{
  margin-top: -16px !important;
}
.page-type-person .testimonial-card{
  background: linear-gradient(#001333,#001333,#0D47A1);
}
.page-type-person .card-up{
  height: 400px !important;
  background: #001333;
}
.page-type-person .desig{
  margin-top: -0.5em;
}
.page-type-person .card-up img{
  max-width: 100%;
}
.page-type-person .avatar{
  height: 150px;width: 150px;margin-bottom:-2em;
}
.page-type-person .name-title{
  font-weight: bold;letter-spacing: 2px;color:#001333;
}
.page-type-person .min-profile{
  font-size:55%;
  padding-left: 5px;
  padding-right: 5px;
}
.page-type-links .img-wrap{
  max-width: 100%;max-height:100%;margin: 0 auto;height: 200px;width: 500px;
}
.page-type-links .img-wrap img{
  max-height: 100%;max-width: 100%;
}
.page-type-links font{
  font-size:15px; color:#000;
}
.l1 .outr .tbl{
  margin-left: 20px;margin-right: 40px;width: 70%;margin: 0px auto;float: none;
}
.l1.outr .heading2{
  margin-left: 150px;
}
.l1 .outr .mt20{
  margin-top: 20px;
}
.l1 .outr h2{
  text-align: center;
}
.l1 .outr .table-wrapper3{
  display: block;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;
}
.l1-dep .card-body{
  margin-bottom: -0.5em;margin-left:0.2em ;margin-right:0.2em;
}
.l1-dep .tile-content{
    text-align: center;
    vertical-align: middle;
    line-height: 110%;
    padding-top: 12px;
    margin-bottom: -4px;
    min-height: 80%;
    color: #ffffff;
}
.row {
    justify-content: center !important;
}
.l1-dep .tile-title-text{
  letter-spacing: 2px;font-weight: bold;text-align: center;vertical-align: middle;line-height: 1px;color: #ffffff;
}
.l1-dep .tile-small{
  background-color: #004545;margin: 1px;
}
.l1-dep .tile-title{
  background-color: #001333;height: 1px;
}
.l1-dep .tile-small:hover {
  opacity: 0.5;
  font-size: 108%!important;
}
.l1-dep .tile-small-text{
  font-size: 90%;font-weight: bold;
}
.l1-dep .fa-2x{
  font-size: 250%;padding-bottom: 8px;
  font-weight: bold;
}
.l1-dep .card-body{
  margin-top: -1em;margin-bottom: -0.5em;
}
.l0 .card-body {
  margin-bottom: -0.5em;
  margin-left:0.2em ;
  margin-right:0.2em;
  padding-top: 6px !important;
}
.l0 .tile-content{
  text-align: center;vertical-align: middle;line-height: 100%;padding-top: 15px;margin-bottom: -5px;min-height: 80%;color: #ffffff;
}
.l0 .tile-title-text{
  letter-spacing: 2px;font-size:120%;text-align: center;vertical-align: middle;line-height: 1px;color: #ffffff;
}
.l0 .tile-small{
  border-radius: 3px;background-color: #004545;margin: 1px;
}
.l0 .tile-title{
  background-color: #001333;
  height: 1px;
}
.l0 .tile-small:hover {
  opacity: 0.5;
  font-size: 108%!important;
}
.l0 .tile-small-text{
  font-size: 90%;
}
.l0 .fa-2x{
  font-size: 210%;padding-bottom: 2px;
}
.hr-white{
  border-top:dashed 1px #ECEFF1;
}
.hr-grey{
  border-top:dotted 1px #3F51B5;
}
.newscaro{
  max-width: 100%;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.newscaro .caro{
  padding: 0px;
}
.anim2{
  animation-duration: 1s;
  animation-name: flipInX;
  animation-delay: 0s;
  animation-timing-function: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}
.anim1{
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-timing-function: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}
/*/.all-cards*/
.l0 .big-row{
  padding: 0.2em;
}
.l0 .big-col{
  padding: 0.2em;
}
/*card-1*/
/* card bg-color*/
.card-1 {
  background: linear-gradient(#ECEFF1,#B0BEC5);
}
/* card-title color*/
.card-1 a.tile-title{
  background: linear-gradient(to right,#4A148C,#7E57C2);
}
/* title-text color*/
.card-1 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-1 div.tile-small{
  background-color: #4A148C;
}
/* small-tile-text color*/
.card-1 div.tile-content{
  color: #ffffff;
}
/*/.card-1*/
/*card-2*/
/* card bg-color*/
.card-2 {
  background: linear-gradient(#ECEFF1,#B0BEC5);
}
/* card-title color*/
.card-2 .tile-title{
  background: linear-gradient(to right,#B71C1C,#F44336);
}
/* title-text color*/
.card-2 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-2 div.tile-small{
  background-color: #B71C1C;
}
/* small-tile-text color*/
.card-2 div.tile-content{
  color: #ffffff;
}
/*/.card-2*/
/*card-3*/
/* card bg-color*/
.card-3 {
  background: linear-gradient(#ECEFF1,#B0BEC5);
}
/* card-title color*/
.card-3 a.tile-title{
  background: linear-gradient(to right,#000000,#424242);
}
/* title-text color*/
.card-3 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-3 div.tile-small{
  background-color: #212121;
}
/* small-tile-text color*/
.card-3 div.tile-content{
  color: #ffffff;
}
/*/.card-3*/
/*card-4*/
/* card bg-color*/
.card-4 {
  background: linear-gradient(#ECEFF1,#B0BEC5);
  /*min-height: 95%;*/
}
/* card-title color*/
.card-4 a.tile-title{
  background: linear-gradient(to right,#006064,#0097A7);
}
/* title-text color*/
.card-4 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-4 div.tile-small{
  background-color: #006064;
}
/* small-tile-text color*/
.card-4 div.tile-content{
  color: #ffffff;
}
/*/.card-4*/
/*card-5*/
/* card bg-color*/
.card-5 {
  background: linear-gradient(#ECEFF1,#B0BEC5);
}
/* card-title color*/
.card-5 a.tile-title{
  background: linear-gradient(to right,#880E4F,#D81B60);
}
/* title-text color*/
.card-5 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-5 div.tile-small{
  background-color: #880E4F;
}
/* small-tile-text color*/
.card-5 div.tile-content{
  color: #ffffff;
}
/*/.card-6*/

/*card-6*/
/* card bg-color*/
.card-6 {
  background: linear-gradient(#ECEFF1,#B0BEC5);
}
/* card-title color*/
.card-6 a.tile-title{
  background: linear-gradient(to right,#002f6c,#01579b);
}
/* title-text color*/
.card-6 p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.card-6 div.tile-small{
  background-color: #002f6c;
}
/* small-tile-text color*/
.card-6 div.tile-content{
  color: #ffffff;
}
/*/.card-6*/

/*Level 1 dep*/
/* card bg-color*/
.l1-dep .l1-card {
  background-color: #FFCDD2;
}
/* card-title color*/
.l1-dep .l1-card div.tile-title{
  background-color: #B71C1C;
}
/* title-text color*/
.l1-dep .l1-card p.tile-title-text{
  color: #ffffff;
}
/* small-tile bg-color*/
.l1-dep .l1-card div.tile-small{
  background-color: #EF5350;
}
/* small-tile-text color*/
.l1-dep .l1-card div.tile-content{
  color: #ffffff;
}
/*title*/
.l3-fac .l3-card div.tile-title{
  background: #001333;
}
.l3-fac .l3-card p.tile-title-text{
  color: #ffffff;
}
/* title color*/
/*/.color 1*/
.l3-fac .downc .pills-secondary .nav-link.active{
  background-color: #001333 !important;
  color: #ECEFF1;
}
.l3-fac .downc .tab-pane .nav-link{
  background-color: #E0E0E0;
  color: #78909C;
}
.l3-fac .dropdown{
  text-align: center;
}
.l3-fac .dropdown .btn-lg{
  background-color: #001333;
}
.l3-fac .dropdown-item.active{
  background-color: #001333;
}

.tab-content {
  padding: 10px;
}
