<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark darken-2" id="nav-below">
    <div class="container-fluid" >
          <div class="navbar-header">
              <img class="navbar-brand" src="../nitdgp_website/static/img/nitdgp_logo_white.png">
              <img class="line-img" src="../nitdgp_website/static/img/line.png">
              <img class="navbar-img-small" src="../nitdgp_website/static/img/emblem.png">
              <div class="navbar-text white-text ">
                <div align="left"> 
                  <h6 > National Institute of Technology Durgapur </h6>
                  <h7 > राष्ट्रीय प्रौद्योगिकी संस्थान दुर्गापुर </h7>
                  <p class="navbar-text-small">(An Institute of National Importance under Government of India,<br> Ministry of Human Resource Development)</p>
                </div>
              </div>
              <img class="navbar-img-big"  src="../nitdgp_website/static/img/emblem.png">
              <!-- <h6 class="showmee" style="color: #3b5998">NIT Durgapur</h6> -->
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="margin-left: -10px;"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link waves-effect waves-light navbar-link" href="#"><i class="fa fa-tasks"></i>Alumni</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect waves-light navbar-link" href="#"><i class="fa fa-plane"></i>Webmail</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect waves-light navbar-link" href="#"><i class="fa fa-address-book"></i>Contacts</a>
                  </li>
              </ul>
          </div>
    </div>
  </nav>
  <nav class="mb-1 navbar fixed-top navbar-expand-sm" id="top-nav-wrap">
            <span align="left" class="top-nav-container-left">
              <a href="http://172.16.20.3/nitdgp_website" class="black-text"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
            </span>
            <span align="right" class="top-nav-container-right">
                <a href="#" class="top-nav-link">Old website</a>
                <a href="#" class="top-nav-link">A+/A-</a>
                <a href="#" class="top-nav-link">A|अ</a>
                <input id="search-btn-nav" type="text" name="" placeholder=" Search">
            </span>
  </nav>
</div>
